body{
  background-color: #010101;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);

  }
@media(max-width: 991px){
  .sidebar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);

  }
}



.img{
     display:flex;
     justify-content: center;
     align-items: center;
  }





